* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

/* -----------------section NavBar------------------------------ */
#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar {
	background-image: linear-gradient(to right, #fff, #006bb3, #fff);
	padding: 2 !important;
}

.navbar-brand {
	height: 40px;
	padding-left: 20px;
}

.navbar-nav li {
	padding: 0 10px;
}

.navbar-nav li a {
	font-weight: 600;
	float: right;
	text-align: left;
}

.navbar-nav li a:hover {
	background-color: #3399ff;
	border-radius: 8px;
}

.fa-bars {
	color: #fff;
	font-size: 30px !important;
}

navbar-toggler {
	outline: none !important;
}

/* -------------section banner-------------------------- */
#banner {
	background-image: linear-gradient(to right, #fff, #006bb3, #fff);
	color: #fff;
	box-sizing: border-box;
	border-radius: 20px;

}

.promo-title {
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.play-btn {
	width: 65px;
	margin: 20px;
}

#banner a {
	color: #fff;
	text-decoration: none;
}

#banner a img {
	outline: none !important;
}

.bottom-img {
	width: 100%;
}

/*-------------section services----------------- */
#services {
	padding: 80px;
}

#services img {
	width: 100px;
	margin-top: 20px;
}

.service {
	padding: 20px;
}

#service h4 {
	margin: 5px;
	margin-top: 25px;
	text-transformation: uppercase;
}

/* ------------------section social media------------- */
#social-media {
	background: #f8f9fa;
	padding: 100px 0;
}

#social-media p {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

.social-icons img {
	width: 60px;
	transition: 0.5s;
}

.social-icons a:hover img {
	transform: translateY(-10px);
}

/* -------------------------section footer---------------------*/
#footer {
	background-image: linear-gradient(to right, #006bb3, #006bb3, #006bb3);
}

.footer-img {
	width: 100%;
}

.footer-box {
	padding: 20px;
	color: #fff;
}

.footer-box h4 {
	width: 120px;
	margin-bottom: 20px;
}

.container {
	width: 100%;
	display: flex;
}

.footer-box {
	margin-left: 45px;
	margin-top: 30px;
}

.footer-box2 {
	margin-top: 55px;
	color: #000;
}

.footer-box p {
	font-size: 18px;
	color: #000;
}

.footer-box p b {
	font-size: 25px;
	color: #000;
}

.footer-box2 h4 b {
	font-size: 25px;
}

.footer-box2 p {
	font-size: 18px;
}

.form-control {
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 0px;
	max-width: 250px;
}

.foot {
	font-size: 25px;
	margin-top: 50px;
	color: #000
}

.btn-primary {
	box-shadow: none;
	border: none;
	border-radius: 0;
	margin-top: 30px;
}

hr {
	background-color: #fff;
}

.copy {
	margin: 0px;
	padding: 20px;
	text-align: center;
}

.row.shadowed {
	background-image: linear-gradient(to right, hsl(204deg 100% 35% / 71%), #fff0) !important;
	border-radius: 10px;
	margin: 1em 0;
}
