html,
body {
	height: 100%;
	margin: 0;
}
#map {
	height: 100%;
	width: 100%;
}
#election-types, #project-info {
	z-index: 1000;
	margin: 2em;
	min-width: 20em;
	max-width: 20em;
}

#election-types label {
	display: block;
}
